/* Base Styles */
.foods-container {
  text-align: center;
  margin-top: 0;
  padding: 0;
  background-image: url("./Asset/bgfood.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.ptv-h1 {
  margin-top: 30px;
  font-size: 2rem;
  color: #4b352d;
  margin-bottom: 15px;
  font-weight: 700;
  text-align: center;
}

.food-grid .food-card-h2 {
  font-size: 1.3rem;
  color: #4b352d;
  margin-bottom: 20px;
  text-align: left;
}

.ptv-p {
  font-size: 1.2em;
  color: #4b352d;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: center;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
}

.non-food-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 45%;
  margin: 0 auto;
  justify-content: center;
}

.food-card {
  background: none;
  border: none;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.food-card-img {
  width: 65%;
  height: auto;
  object-fit: cover;
}

.food-card-button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1e9c5b;
  color: white;
  border: none;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-down {
  margin-top: 30px;
  font-size: 2rem;
  color: #007c69;
  border: 2px solid #007c69;
  border-radius: 50%;
  background: white;
  padding: 10px;
  cursor: pointer;
}
.nxt-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20%;
  margin: 0 auto; /* Centers the div itself */
  background: rgba(255, 255, 255, 0.61);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.6px);
  -webkit-backdrop-filter: blur(16.6px);
  border: 1px solid rgba(255, 255, 255, 0.82);
}

.nxt-btns {
  display: block;
  text-align: center;
  background-color: transparent;

}
/* Responsive Styles */
@media (max-width: 1200px) {
  .food-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .non-food-grid {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .food-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .non-food-grid {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
  .ptv-h1, .ptv-p {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .food-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .food-card-img {
    width: 80%;
  }
  .ptv-h1, .ptv-p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .food-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .food-card-img {
    width: 90%;
  }
  .ptv-h1 {
    font-size: 1.3rem;
  }
  .ptv-p {
    font-size: 0.8rem;
  }
  .food-card-button {
    font-size: 0.6rem;
  }
}
