/* Base Styles */
.body-setting {
  margin-top: 0;
  padding: 0;
  background-image: url("./Asset/settingsbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.div-setting {
  background: rgba(255, 255, 255, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  /* Default width for desktops, will be overridden by media queries */
  width: 50%;
}

.custom-button {
  background: transparent;
  border: 0;
  color: #000000 !important; /* Using !important to override any other styles */
}
.custom-button:hover {
  background-color: transparent;
}
.custom-button:active {
  background-color: transparent;
}

.it-p {
  width: 40%;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}

.it-p1 {
  border-bottom: 1px solid black;
  width: 40%;
}

.form-control{
  position: relative;
  margin-bottom: 20px;
}

.Ep-lable {
  display: flex;
  font-weight: bold;
  align-items: flex-start; /* Aligns to the top */
  justify-content: flex-start; /* Aligns to the left */
  text-align: left; /* Ensures text inside the label is left-aligned */
  color: rgb(116, 47, 8);
  padding: 0 5px;
}

.edit-profile-btn {
  position: absolute;
  width: 3%;
  height: 3%;
  bottom: 0;
  right: 40%;
  background: rgb(114, 114, 114);
  border: none;
  font-size: 16px;
  cursor: pointer;
}


/* Responsive Styles */

/* For Mobile Devices */
@media (max-width: 600px) {
  .div-setting {
      width: 90%;
      padding: 20px;
  }
  .it-p {
      width: 80%;
      font-size: 14px;
  }
  .it-p1 {
      width: 80%;
  }
  .edit-profile-btn {
      width: 8%;
      height: 8%;
      right: 10%;
  }

}

/* For Tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .div-setting {
      width: 70%;
      padding: 15px;
  }
  .it-p {
      width: 60%;
      font-size: 15px;
  }
  .it-p1 {
      width: 60%;
  }
  .edit-profile-btn {
      width: 4%;
      height: 4%;
      right: 20%;
  }
}

/* For Desktops and Larger Screens */
@media (min-width: 1025px) {
  .div-setting {
      width: 50%;
      padding: 10px;
  }
  .it-p {
      width: 40%;
      font-size: 16px;
  }
  .it-p1 {
      width: 40%;
  }
  .edit-profile-btn {
      width: 3%;
      height: 3%;
      right: 40%;
  }
}
