/* Background styling */
.background {
  background-image: url(Asset/REQUESTBOXBG.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #4b4b4b; 
     font-family: "Montserrat", sans-serif;/* Text color */
 }
 .Er-border{
   background-color:#E5B198;
   padding: 20px;
   border-radius: 15px;
   border: 1px solid white;
 }
 /* Bold text styling for Request Box */
 .bold-text {
   font-size: 18px;
   font-weight: bold;
   margin-top: 25px;
   margin-bottom: 0px;
   color:#4B352D;
 }

 h1,p{
   color: #4B352D;
 }
 h4{
   color:  #4B352D;
   font-size: 18px;
   margin-top: 10px;
 }
 
 /* Input box styling */
 .input-box {
   margin-top: -10px;
   padding: 0px;
   width: 80%;
   max-width: 300px;
   padding-top: 10px;
   margin: 15px 0;
   border-radius: 20px;
   border: 1px solid #ccc;
   outline: none;
   font-size: 14px;
   text-align: center; /* Centers placeholder and input text */
 }
 
 /* Button styling */
 .submit-button {
   height: 7%;
   margin-top: -10px;
   background-color:#F7C600;
   border: none;
   color: #fff;
   padding: 10px 20px;
   border-radius: 30px;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
   box-shadow: inset 0 6px 6px rgba(0, 0, 0, 0.4);
 }
 
 .submit-button:hover {
   background-color: #FFC107;
 }
 

 .skip-button {
   background-color: #f1f1f1;
   color: #000;
   border: 1px solid #ccc;
   padding: 10px 20px;
   cursor: pointer;
   margin-top: 10px;
   transition: background-color 0.3s;
 }
 
 .skip-button:hover {
   background-color: #ddd;
 }
 