/* Background Section */
.in-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100% !important;
  background: url("./Asset/COOK.png") no-repeat center/cover !important;
}

/* Text Container */
.text-containers {
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.in-h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0;
  color: #4b352d;
}

.in-p {
  font-size: 1rem;
  margin-top: 10px;
  color: #4b352d;
  font-style: normal;
  text-align: center;
  width: 80%;
}

/* Card Container */
.in-grid {
  display: grid;
  border: none;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0px;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}

/* Others Container */
.others-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.others-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.others-label {
  font-size: 1.2rem;
  color: #4b352d;
}



.in-card-button{
  margin-top: 20px;
  display: block;
  padding: 10px;
  background-color: #1E9C5B!important;
  color: #fff;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .in-grid {
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
  }

  .in-h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .in-grid {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }

  .in-h1 {
    font-size: 1.8rem;
  }

  .in-p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .in-h1 {
    font-size: 1.5rem;
  }

  .in-p {
    font-size: 0.8rem;
  }

  .in-grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .card-button {
 
    padding: 8px;
  }
}
