.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("Asset/Signupbg.jpeg")no-repeat center center / cover;
}
.signin-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-section-h1,
.signin-section-h2 {
color: white;
}
p{
width: 90%;
font-size: 17px;
}
.signin-section-h2 {
margin: 0;
font-size: 25px;
}
.signin-overlay {
  width: 90%; /* Adapts to smaller screens while maintaining a good size */
  max-width: 700px; /* Adjust max width for better scaling */
  padding: 50px; /* Increase padding for better spacing */
  border-radius: 16px;
  text-align: center;
  
  background: rgba(255, 255, 255, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signin-form {
  width: 70%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increase spacing between inputs for better visibility */
  align-items: center;
}
.input-field {
  width: calc(90% - 10%); /* Ensure it doesn't touch edges */
  max-width: 450px;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  box-sizing: border-box;
  background-color: transparent;

}
.input-field:hover{
  background-color: transparent;
  color: #ffffff;
  
}
.input-field::placeholder {
  color: #ffffff; /* Adjust color as needed */
  font-style: italic; /* Adjust style as needed */
  font-size: 14px; /* Adjust size as needed */
  border: none;
}
.input-field:hover::placeholder {
  color: #ffffff; /* Change placeholder text color on hover */
  border: none;
}
.FPB{
width: 100%;
}
.Forgetpassword-btn{
 width: 90% ;
  color: white;
  font-size: 15px;
  text-align: right;

}

  .OTP-btn{
  
    color: white;
    font-size: 18px;
    text-align: right;
   background-color: transparent;
   font-weight: bold;
   padding: 0px;
    border:None;
  }

.signin-btn {
  width: calc(70% - 20px);
  max-width: 450px;
  padding: 12px;
  font-size: 18px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 25px;
}

.signin-btn:hover {
  background-color: #0056b3;
}