.tg-container {
  text-align: center;
  margin-top: 0;
  padding: 0;
  background-image: url("./Asset/TOURGUIDE.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
  min-height: 100vh;
  padding: 20px;
  max-width: 100% !important;

}


.tg-inner{
  width: 50%;
}

.tg-h1 {
  margin-top: 30px;
  padding-top: 20px;
  font-size: 2rem;
  color: #4b352d;
  margin-bottom: 15px;
  font-weight: 700;
  text-align: left;
}

.tg-p {
  font-size: 1.2rem;
  color: #4b352d;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: left;
}

.tg-grid {
  display: grid;
  border: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.tg-h4 {
  font-weight: bold;
  text-align: left;
  color: #4b352d;
}


.card-imgs {
  width: 60%;
  height: auto;
  object-fit: cover;
}

.card-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #1e9c5b;
  color: white;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Go-next {
  font-size: 1rem;
  color: rgb(78, 187, 135) !important;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .tg-container {
    height: auto;
    background-size: cover;
  }
  .tg-inner {
    width: 80%;
    margin-left: 50px;
  }
  .tg-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .tg-inner {
    width: 90%;
    margin-left: 20px;
  }
  .tg-h1 {
    font-size: 1.8rem;
  }
  .tg-p {
    font-size: 1rem;
  }
  .tg-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-imgs {
    width: 80%;
  }
  .form-label{
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .tg-container {
    padding: 20px;
  }
  .tg-inner {
    width: 100%;
    margin-left: 0;
  }
  .tg-h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .tg-p {
    font-size: 0.9rem;
    text-align: center;
  }
  .tg-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-imgs {
    width: 100%;
  }
}
